.allprofile{
    font-family: 'Poppins';
    background-image: linear-gradient(to right, #667FF7, #BBC3FA);
    width: 75vw;
    height: max-content;
    min-height: 24vh;
    margin: 12px;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10vh;
    padding: 8px;
}
.hide{
    display: none;
}

.profilepicture{
    width: 190px;
    height: 190px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: -20%;
    left: 4%;
}

.profile-user{
    display: flex;
    align-items: center;
    gap: 8px;
}

button{
    border-radius: 16px;
    color: #667FF7;
    background-color: white;
    border-style: none;
    padding: 8px;
    padding-inline: 24px;
}

p{
    margin-bottom: 8px;
}

@media (max-width: 540px) {
    
    .profilepicture{
        height: 150px;
        width: 150px;
        min-width: none;
        min-height: none;
        top: -4%;
        left: 8%;
    }

    .user-stats{
        position: absolute;
        bottom: 4px;
    }
    
    .profile-user{
        flex-direction: column;
        gap: 4px;
        align-items: center;
    }
    .description{
        flex-direction: column;
        gap: 4px;
        text-align: right;
    }

    .allprofile{
        min-height: 32vh;
        width: 84vw;
        margin-right: 20px;
        padding-left: 200px;
    }
}