section {
    border-radius: 53px;
    display: flex;
    width: 70vw;
    background-color: #EEE7EE;
    font-family: "poppins";
    width: 800px;
    height: 455px;
    
  }

  .button-tag{
    border-style: solid;
    border-color: #4565FE;
    background-color: transparent;
    border-radius: 5px;
  }
  
#imagepost {
    width: 50%;
    border-bottom-left-radius: 53px;
    border-top-left-radius: 53px;
  }
  
.postdetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
.userdetails{
  display: flex;
  align-items:center ;
}
#profilepicture{
  border-radius: 100%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
h1{
    font-size: 30px;
    color: #4565FE;
    margin-left: 15px;
}

.captionandtags{
  font-size: 15px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  gap: 12px;
}

#caption{
  background-image: linear-gradient(to right, #667FF7, #BBC3FA);
  border-radius: 20px;
  width: 350px;
  height: 100px;
}
#tags{
  background-image: linear-gradient(to right, #9F7EFF, #BBC3FA);
  border-radius: 20px;
  width: 310px;
  margin-right: 20px;
  height: 100px;
}
.post-heart-desktop-heart{
  position: absolute;
  bottom: 5%;
  right: 7%;
  width: 30px;
}

#tags{
  background-image: linear-gradient(to right, #9F7EFF, #BBC3FA);
  border-radius: 20px;
  background-color: none;
  padding: 8px;
  padding-inline: 24px;
  width: 310px;
  margin-right: 20px;
  height: 100px;
}

#tags button{
  border-radius: 16px;
    color: #667FF7;
    background-color: white;
    border-style: solid;
    border-color: #667FF7;
    padding: 8px;
    padding-inline: 24px;
}
@media (max-width: 540px) {
  section {
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EEE7EE;
    font-family: "poppins";
    width: 500px;
    height: 800px;
  }
  #imagepost {
    height: 50%;
    border-bottom-left-radius: 53px;
    border-top-left-radius: 53px;
    align-items: center;
  }
  .postdetails {
    height: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .post-heart-desktop-heart{
    display: flex;
    align-items: center;
  }
  #like{
    display: flex;
    align-items: center;
  }

}
