section {
    border-radius: 53px;
    display: flex;
    width: 70vw;
    background-color: #EEE7EE;
    font-family: "poppins";
    width: 800px;
    height: 455px;
    
  }
  
#imagepost {
    width: 50%;
  }
  
.postdetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
.userdetails{
  display: flex;
  align-items:center ;
}
#profilepicture{
  border-radius: 100%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
h1{
    font-size: 30px;
    color: #4565FE;
    margin-left: 15px;
}

.captionandtags{
  font-size: 15px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
}

#caption{
  background-image: linear-gradient(to right, #667FF7, #BBC3FA);
  border-radius: 20px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
}
#tags{
  background-image: linear-gradient(to right, #9F7EFF, #BBC3FA);
  border-radius: 20px;
  width: 100%;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
}
.post-heart-desktop-heart{
  position: absolute;
  bottom: 5%;
  right: 7%;
  width: 30px;
}

