.body {
    background-color: #EFEDFB;
    margin: 0; 
    padding: 0; 
}

.body {
    background-image: url('https://cdn.discordapp.com/attachments/1108887572618412231/1168289647013675078/Group_347.png?ex=65513985&is=653ec485&hm=2ab2bd80636592648bc8bc655068a50d93fcaeaa7d5dbb3ba7af45eed8fba427&'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    
}
landing-share{
    height: 200vh;
}
