.body {
    background-color: #EFEDFB;
    margin: 0; 
    padding: 0; 
}

.body {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dcalg-7b097.appspot.com/o/media%2Flanding.png?alt=media&token=72647b94-073a-42bd-8184-b7fd217e81e2'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    
}
landing-share{
    height: 200vh;
}

landing-mobile{
    display: none;
}
@media (max-width: 540px) {
    landing-bar{
        display: none;
    }   
    landing-share{
        display: none;
    } 
    landing-mobile{
        display: flex;
        align-items: center;
        
    }
    .body{
        margin: 0; 
        padding: 0; 
        background-image: linear-gradient(to top, #667FF7, #BBC3FA);
        background-size: cover;   
    }
}
