/*app-profile{
    display: block;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: end;
    font-family: 'Poppins';
}*/
*{
    font-family: 'Poppins', sans-serif;
}
.clothescontainer{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    width: 75vw;
    overflow-x: scroll;
}

my-profile{
    width: 100%;
    background-color: aqua;
}

h3{
    color: #667FF7;
}

hr{
    border-color: #667FF7;
    width: 75vw;
}
.division{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 8px;
}
.division div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.profileposts{
    margin-top: 12px;
}

@media (max-width: 540px) {

    .clothescontainer{
        margin-top: 8px;
    }
    .division{
        margin-top: 12px;
    }
}