.body {
    background-color: #EFEDFB;
    margin: 0; 
    padding: 0; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dcalg-7b097.appspot.com/o/media%2Fbackground%20login.png?alt=media&token=7fd25afd-3e5f-4f17-a2b1-64971e56a73e'); 
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    
}
