.body {
    background-color: #EFEDFB;
    margin: 0; 
    padding: 0; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    background-image: url('https://cdn.discordapp.com/attachments/1108887572618412231/1169281473128448124/Group_349.png?ex=6554d53b&is=6542603b&hm=dd3997bb16ac59b08f565be336d74242fd450636185af94abc46175db75972e3&https://cdn.discordapp.com/attachments/1108887572618412231/1169281473128448124/Group_349.png?ex=6554d53b&is=6542603b&hm=dd3997bb16ac59b08f565be336d74242fd450636185af94abc46175db75972e3&'); 
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    
}
