section {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items:baseline;
    height: 200vh;
    
}

h1 {
    font-family: 'Karantina';
    font-size: 200px;
    text-align: center; 
    letter-spacing: 10px;
    margin: 0; 
    color: #edeffa
}

h2 {
    font-family: 'Poppins'; 
    font-size: 50px; 
    text-align: center;
    margin: 0; 
    color: #67707A;
}

#share-button {
    font-family: 'Poppins';
    font-size: 19px; 
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #667FF7;
    color: #fff;
    border: none;
    left: 16%;
    bottom: 300px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 100px;
    position: absolute;
}
