section {
    border-radius: 53px;
    display: flex;
    width: 70vw;
    background-image: linear-gradient(to right, #667FF7, #BBC3FA);
    font-family: "poppins";
    width: 800px;
    height: 455px;
    opacity: 0.9;
  }
  
#imagen {
    width: 50%;
  }
  
.user {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
h1{
    font-size: 50px;
    color: #fff;
}
#username{
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  height: 25px;
  width: 300px;
  margin-bottom: 10px;
}
#password{
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  height: 25px;
  width: 300px;
  margin-bottom: 10px;
}
.options{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#Forgot-password:hover{
    text-decoration: underline;
}
#no-acount:hover{
  text-decoration: underline;
}
button {
  border: none; 
  background-color: transparent; 
  color:#fff; 
  font-family: 'Poppins'; 
  font-size: 14px; 
  margin: 0 10px;
}
#login-button{
    background-color: #fff;
    color: #667FF7;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 250px;
}
input::placeholder{
  color:#fff;
  text-align: center;
}

@media (max-width: 540px) {

.img {
    display: none;
  }
  section {
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #667FF7, #BBC3FA);
    font-family: "poppins";
    width: 450px;
    height: 600px;
    opacity: 0.9;
  }
.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;

}
#divinputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}



}