section{
    display: flex;
    height: 8vh;
    font-family: 'Poppins';
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    width: 100%;
}
.Landing-bar-logo{
    display: flex;
    align-items: center;
}
.logo-mobile{
    display: none;
}
h3{
    color: #667FF7;
    font-size: 20px;
    margin: 4px;
}

.landing-bar-buttons{
    display: flex;
    align-items: center;

}
button {
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
}
#login-button {
    background-color: #667FF7;
    color: #fff;
    border: none;
    margin-right: 10px
}
#singup-button {
    background-color:#fff ;
    color:#667FF7;
    border-color: #667FF7;
}

@media (max-width: 540px) {

h3{
    display: none;
}
#login-button {
    display: none;
}
#singup-button {
    display: none;
}
}