body {
    position: relative; /* Necesario para posicionar el footer en relación a la página */
}
.footer-bar {
    background-color: #fff; 
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    position: absolute;
    bottom: 0; 
    width: 100%;
}

button {
    border: none; 
    background-color: transparent; 
    color: black; 
    font-family: 'Poppins'; 
    font-size: 14px; 
    margin: 0 10px;
}
button:hover {
    text-decoration: underline; 
}