
.footer-bar {
    background-color: #fff; 
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: max-content;
}

button {
    border: none; 
    background-color: transparent; 
    color: black; 
    font-family: 'Poppins'; 
    font-size: 14px; 
    margin: 0 10px;
}
button:hover {
    text-decoration: underline; 
}