.postscontainer {
    columns: 270px;
    gap: 4px;
    counter-reset: grid;
    margin-top: 24px;
  }
  
  .postscontainer section + .postscontainer section {
    margin-top: 4px;
  }
  
  .postscontainer section {
    break-inside:avoid;
  }
  
  .postscontainer section::before {
    counter-increment: grid;
    content: counter(grid);
  }

@media (max-width: 540px) {
  
  .postscontainer {
        columns: 42vw;
        gap: 4px;
        counter-reset: grid;
      }
      
      .postscontainer section + .postscontainer section {
        margin-top: 4px;
      }
      
      .postscontainer section {
        break-inside:avoid;
      }
      
      .postscontainer section::before {
        counter-increment: grid;
        content: counter(grid);
      }
}